# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Foldera
Temporary Items
.apdisk

# My Option
# =============== #
# Unity generated #
# =============== #

Temp/
Obj/
UnityGenerated/
Library/



# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db


obj/Debug/Assembly-CSharp.dll
Assets/Model/Materials/Materials/sword.mat.meta.rej.meta.rej.meta
Assets/Model/Materials/sword 1.mat.meta.rej.meta.rej.meta
Assets/Animator/MapObject.meta
Assets/Animator/MapObject/StreetLamp.controller
Assets/Animator/MapObject/StreetLamp.controller.meta
Assets/Prefebs/MapObject/MapObjectLeft.prefab
Assets/Prefebs/MapObject/MapObjectLeft.prefab.meta
Assets/Prefebs/MapObject/MapObjectRight.prefab
Assets/Prefebs/MapObject/MapObjectRight.prefab.meta
Assets/Resources/Effect/BossSkillExplosion.prefab
Assets/Resources/Effect/BossSkillExplosion.prefab.meta
Assets/UI & Effect/UI/ResultUI/NewResultImage.png
Assets/UI & Effect/UI/ResultUI/NewResultImage.png.meta
Test.exe
Test_Data/Managed/Assembly-CSharp.dll
Test_Data/Managed/Mono.Security.dll
Test_Data/Managed/System.Core.dll
Test_Data/Managed/System.Xml.dll
Test_Data/Managed/System.dll
Test_Data/Managed/UnityEngine.Networking.dll
Test_Data/Managed/UnityEngine.UI.dll
Test_Data/Managed/UnityEngine.dll
Test_Data/Managed/UnityEngine.dll.mdb
Test_Data/Managed/UnityEngine.xml
Test_Data/Managed/mscorlib.dll
Test_Data/Mono/etc/mono/1.0/DefaultWsdlHelpGenerator.aspx
Test_Data/Mono/etc/mono/1.0/machine.config
Test_Data/Mono/etc/mono/2.0/Browsers/Compat.browser
Test_Data/Mono/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
Test_Data/Mono/etc/mono/2.0/machine.config
Test_Data/Mono/etc/mono/2.0/settings.map
Test_Data/Mono/etc/mono/2.0/web.config
Test_Data/Mono/etc/mono/browscap.ini
Test_Data/Mono/etc/mono/config
Test_Data/Mono/etc/mono/mconfig/config.xml
Test_Data/Mono/mono.dll
Test_Data/Resources/unity default resources
Test_Data/Resources/unity_builtin_extra
Test_Data/app.info
Test_Data/globalgamemanagers
Test_Data/globalgamemanagers.assets
Test_Data/level0
Test_Data/level0.resS
Test_Data/level1
Test_Data/level10
Test_Data/level10.resS
Test_Data/level11
Test_Data/level11.resS
Test_Data/level2
Test_Data/level3
Test_Data/level4
Test_Data/level5
Test_Data/level6
Test_Data/level6.resS
Test_Data/level7
Test_Data/level7.resS
Test_Data/level8
Test_Data/level8.resS
Test_Data/level9
Test_Data/level9.resS
Test_Data/output_log.txt
Test_Data/resources.assets
Test_Data/resources.assets.resS
Test_Data/resources.resource
Test_Data/sharedassets0.assets
Test_Data/sharedassets0.assets.resS
Test_Data/sharedassets0.resource
Test_Data/sharedassets1.assets
Test_Data/sharedassets1.assets.resS
Test_Data/sharedassets10.assets
Test_Data/sharedassets10.assets.resS
Test_Data/sharedassets11.assets
Test_Data/sharedassets2.assets
Test_Data/sharedassets2.assets.resS
Test_Data/sharedassets3.assets
Test_Data/sharedassets3.assets.resS
Test_Data/sharedassets4.assets
Test_Data/sharedassets4.assets.resS
Test_Data/sharedassets5.assets
Test_Data/sharedassets5.assets.resS
Test_Data/sharedassets6.assets
Test_Data/sharedassets6.assets.resS
Test_Data/sharedassets7.assets
Test_Data/sharedassets7.assets.resS
Test_Data/sharedassets8.assets
Test_Data/sharedassets8.assets.resS
Test_Data/sharedassets9.assets
Test_Data/sharedassets9.assets.resS
